<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tellsea.module.system.mapper.DictDataMapper">

    <sql id="allField">
        A.id,
        A.name,
        A.type,
        A.value,
        A.remark,
        A.is_enable,
        A.sort,
        A.create_user,
        A.create_time,
        A.status
    </sql>

    <sql id="search">
        where A.status = 1
    </sql>
</mapper>
