<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <div th:replace="block/head"></div>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <form class="layui-form" id="searchForm" lay-filter="searchFormFilter">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">字典名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" placeholder="请输入字典名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">字典类型</label>
                    <div class="layui-input-inline">
                        <input type="text" name="type" placeholder="请输入字典类型" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-sm layui-btn-normal" lay-submit
                            lay-filter="searchSubmit"><i class="layui-icon"></i>搜索
                    </button>
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary"
                            id="searchReset"><i class="layui-icon layui-icon-refresh"></i>重置
                    </button>
                </div>
            </div>
        </form>

        <!-- 表头、表、操作按钮 -->
        <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add"
                        shiro:hasPermission="system:dictType:save">
                    <i class="layui-icon layui-icon-addition"></i>新增
                </button>
            </div>
        </script>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>

<div id="dataFormModal" class="straw-layer">
    <form class="layui-form layuimini-form" id="dataForm" lay-filter="dataFormFilter">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label required">字典名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" placeholder="请输入字典名称" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">字典类型</label>
            <div class="layui-input-block">
                <input type="text" name="type" lay-verify="required" placeholder="请输入字典类型" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">排序</label>
            <div class="layui-input-block">
                <input type="number" name="sort" value="0" lay-verify="required" placeholder="请输入排序" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="remark" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn layui-btn-normal" lay-submit lay-filter="dataFormSubmit">保存</button>
                <button type="button" class="layui-btn layui-btn-primary" id="dataFormReset">取消</button>
            </div>
        </div>
    </form>
</div>

<div th:replace="block/js"></div>
<script th:inline="javascript">
    let dictDataTypeList = false;
    let dictTypeUpdate = false;
    let dictTypeDelete = false;
</script>
<script shiro:hasPermission="system:dictData:view">dictDataTypeList = true;</script>
<script shiro:hasPermission="system:dictType:update">dictTypeUpdate = true;</script>
<script shiro:hasPermission="system:dictType:delete">dictTypeDelete = true;</script>
<script th:inline="javascript">
    layui.use(['table', 'form', 'miniTab'], function () {
        let $ = layui.jquery,
            table = layui.table,
            miniTab = layui.miniTab,
            form = layui.form;

        let active = {
            dataModelType: 1,
            openDataFormModal() {
                let title = active.dataModelType == 1 ? '新增表单' : '编辑表单';
                layer.open({
                    title: title
                    , type: 1
                    , content: $('#dataFormModal')
                    , area: ['600px', '400px']
                    , maxmin: true
                    , cancel: function () {
                        active.closeDataFormModal();
                    }
                });
            },
            closeDataFormModal() {
                $('#dataForm')[0].reset();
                $("#pid").val('0');
                layer.closeAll();
            },
            resetTable(data) {
                table.reload('currentTableId', {page: {curr: 1}, where: data}, 'data');
            }
        };

        table.render({
            elem: '#currentTableId',
            method: 'post',
            url: '/system/dictType/listByTable',
            toolbar: '#toolbar',
            defaultToolbar: ['filter', 'exports', 'print'],
            height: "full-" + ($('#searchForm').height() + 70),
            page: true,
            limit: 20,
            limits: [20, 40, 60, 80, 100],
            cols: [ [
                {type: "numbers", title: '序号'},
                {field: 'name', title: '字典名称'},
                {field: 'type', title: '字典类型'},
                {field: 'sort', title: '排序', sort: true, width: 80, align: 'center'},
                {field: 'remark', title: '备注'},
                {field: 'createTime', title: '创建时间', width: 160},
                {
                    title: '操作', width: 180, align: "center", templet: function () {
                        let dom = '';
                        if (dictDataTypeList)  dom += '<a class="layui-btn layui-btn-xs" lay-event="list">数据列表</a>';
                        if (dictTypeUpdate) dom += '<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>';
                        if (dictTypeDelete) dom += '<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>';
                        return dom;
                    }
                }
            ]]
        });

        // 监听搜索
        form.on('submit(searchSubmit)', function (data) {
            active.resetTable(data.field);
            return false;
        });
        // 监听重置
        $('#searchReset').on('click', function () {
            $('#searchForm')[0].reset();
            active.resetTable(form.val('searchFormFilter'));
        });

        // 监听头部按钮
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {
                active.dataModelType = 1;
                active.openDataFormModal();
            }
        });

        // 监听行按钮
        table.on('tool(currentTableFilter)', function (obj) {
            let data = obj.data;
            let layEvent = obj.event;
            if (layEvent === 'list') {
                miniTab.openNewTabByIframe({
                    href: '/system/dictData/init?type=' + data.type,
                    title: '字典数据',
                });
            } if (layEvent === 'edit') {
                // 回显数据
                active.dataModelType = 2;
                form.val('dataFormFilter', data);
                active.openDataFormModal();
            } else if (layEvent === 'del') {
                layer.confirm('确定删除该数据吗？', function (index) {
                    $.ajax({
                        type: 'post',
                        url: '/system/dictType/deleteByType',
                        data: {type: data.type},
                        dataType: 'json',
                        success: function (res) {
                            if (res.code == 200) {
                                layer.msg(res.msg, {time: 2000, icon: 1}, function () {
                                    window.location.reload();
                                });
                            } else {
                                layer.msg(res.msg, {time: 2000, icon: 2});
                            }
                        },
                        error: function (res) {
                            layer.msg('请求失败', {time: 2000, icon: 2});
                        }
                    });
                });
            }
        });

        // 监听表单取消
        $('#dataFormReset').on('click', function () {
            active.closeDataFormModal();
        });
        //监听表单提交
        form.on('submit(dataFormSubmit)', function (data) {
            $.ajax({
                type: 'post',
                url: active.dataModelType == 1 ? '/system/dictType/save' : '/system/dictType/updateById',
                data: data.field,
                dataType: 'json',
                success: function (res) {
                    if (res.code == 200) {
                        layer.msg(res.msg, {time: 2000, icon: 1}, function () {
                            window.location.reload();
                        });
                    } else {
                        layer.msg(res.msg, {time: 2000, icon: 2});
                    }
                },
                error: function (res) {
                    layer.msg('请求失败', {time: 2000, icon: 2});
                }
            });
            return false;
        });
    });
</script>

</body>
</html>
